*{
    box-sizing: border-box!important;
    min-width: 0;
    font-family: 'VT323', monospace;
    position: relative;
    
}

nav{
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 9%;
    margin-top: 88vh;

}

.contenedor-pagina{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
h1{
    color: rgb(0, 0, 0);
    text-shadow: none;
    text-align: center;
}
.one{
    background-color: rgb(242, 247, 247);
}

.two{
    background-color: #E4FF98;
}
.three{
    background-color: #00ffff;
    font-size: 2rem;
}
.four{
    background-color: bisque;
}

.menuboton{
    position:fixed;
    left: 80%;
    top: 90%;
}

.shiny-text {
    background: linear-gradient(45deg, #00ffcc, #ffcc00);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);
  }
  @keyframes wavy {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(7px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .curly-effect span{
    display: inline-block;
    animation: wavy 1.5s infinite;
    margin-right: -5px;
    margin-bottom: 2px;
    animation-delay: calc(var(--i) * 0.1s);
  }
  
  .titulomimi{
    font-family: "Oooh Baby", cursive;
  font-weight: 400;
  font-style: normal;
  }

  .brutalist-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 300px;
  }

  .brutalist-list-item {
    border: 2px solid #fff;
    margin: 5px 0;
    padding: 10px;
    text-align: center;
  }

  .brutalist-list-item:hover {
    background-color: #555;
  }

  .perk1{
    font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  }

  .perk2{
    font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  
  
  .wrapper{
    box-sizing: content-box;
    background-color: #E4FF98;
    height: 120px;
    width: 100%;
    display: flex;
    
    z-index: 100;
    
}
.words{
    overflow: hidden;
    box-sizing: content-box;
    font-size: 24px;
    height: 100%;
    width: 100%;
}
.word{
    display: block;
    box-sizing: content-box;
    height: 100%;
    
    color: #0e6ffc;
    animation: spin_words 10s infinite;
    margin-top: 1%;
    
}
@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}
  
.boton{
  background-color: #00d8d8;
  
}
  





  @media screen and (max-height: 500px) {
    .titulomimi {
      display: none;
    }
    .navbar {
      display: none;
    }
    
  }

  @media screen and (min-width: 640px) and (max-width: 767px) {
    .elerror {
        display: none;

    }
    .elvideo{
      width: 50%;
    }
}

@media screen and (max-width: 360px) {
  .titulomimi {
    font-size: 27px;
    margin-top: 10px;
    font-weight: bold;
  }
}

@media screen and (max-width: 280px) {
  .menu {
    margin-bottom: -20%;
  }
  .menu a {
    font-size: 14px;
  }
  .tarjeta {
    width: 100%;
  }
  .titulomimi {
    font-size: 27px;
    margin-top: 10px;
    font-weight: bold;
  }
  .words{
    height: 88%;
  }
  .word{
    font-size: 12px;
    height: 88%;
  }
  .disk{
    height: 95%;
  }
  .gfold{
  font-size: 20px;
  }
  .gfolddisk{
    font-size: 22px;
  }
  .contfold{
    height: 80px;
  }
  .foldnum{
    font-size: 40px;
  }
}

@media screen and (max-height: 500px){
  .contenedor-pagina{
    scroll-snap-type: unset!important;
    overflow-y: unset!important;
    height: auto!important;
}
.one{
  height: auto;
}
.two{
  height: auto;
}.three{
  height: auto;
}
.four{
  height: auto;
}

}